<div class="container mx-auto">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <form class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">Kullanıcı Girişi</h1>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only"></label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only"></label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Şifre" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
            </form>
        </div>
    </div>
</div>
